header{
    background: #CD5C5C;
    color: #fff;
}
.main {
    background: #FFFAF0;
}

.color1 {
    background: #34495e;
    color: #fff;
}

aside {
    background: #c0392b;
    color: #fff;
}

footer {
    background: #CD5C5C;
    color: #fff;
}
